*{
    margin: 0px;
    padding: 0px;
}
/* body{
    overflow-x: hidden;
} */
.active{
    background-color: #ccc;
}
/* --- for color  ----- */
:root{
    --main-color: #8482EB;
    --hover-color: #2522BA;
}
/* -- for fonts */
:root{
    --heding-font: 'Josefin Sans', sans-serif ;
    --contein-font: 'Arvo', serif;
    --habhai: 'Amaranth', sans-serif;
    --kyabe: 'Lobster', cursive;
    --hamojha: 'Varela Round', sans-serif;
}
/* all heding and p tage */
.all-h4{
    color: #C75C6F;
}
.all-h1{
    color: #fff;
    font-size: 54px;
}
.all-p1{
    color: #fff;
    font-size: 20px;
}
@media screen and (max-width: 992px) {
    .all-h4{
        color: #C75C6F;
        font-size: 16px;
    }
    .all-h1{
        color: #fff;
        font-size: 32px;
    }
    .all-p1{
        color: #fff;
        font-size: 14px;
    }
}
/* end of h1 p1 */
/* navgtion bar */
.bubble-39{
    position: absolute;
    z-index: -10;
    animation-name: bubbles;
    animation-duration: .6s;
}
.bubble-38{
    position: absolute;
    right: 10%;
    top: 20vh;
    z-index: -10;
    animation-name: bubbles;
    animation-duration: .6s;
}
@keyframes bubbles {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}
@media screen and (max-width: 700px) {
    .bubble-39{width: 70%;}   
}
/* scroll animation */
.js-scroll {
    opacity: 0;
    transition: opacity 1s;
}
.js-scroll.scrolled {
    opacity: 1;
}
/* end scroll animation */
/* slide navgation bar */
/* .nav-togal-btn{
    border: 2px solid black;
    border-radius: 4px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 20px;
    background-color: #fff;
} */
/* toggal */
.new-navbar{
    height: 100vh;
    width: 280px;
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffffff;
    animation-name: slidshowBar;
    animation-duration: 1s;
    overflow: scroll;
    /* transition: all 1s ease; */
}
@keyframes slidshowBar {
    0% {transform: translate(-300px);}
    100% {transform: translate(0px);}
}
.close-btn{
    font-size: 16px;
    color: black;
    padding: 1.5px 8px;
    margin-right: 1.5rem;
    border: 1px solid #525250;
    border-radius: 8px;
    background-color: #fff;
    transition: all .7s ease;
}
.close-btn:hover{
    color: #ffffff;
    background-color: var(--hover-color);
    border: 1px solid #5158be;
}
/* sticky navgation */
.sticky-nv {
    position: fixed !important;
    z-index: 1000;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    animation-name: stickynav;
    animation-duration: 1s;
}
@keyframes stickynav {
    0% {opacity: 0; transform: translateY(-100px);}
    100% {opacity: 1; transform: translateY(0);}
}
/* navigation bar */
.navbar-brandx{
    width: 140px !important;
}
.nav-logo{
    width: 130px;
}
.main-nav-hx{
    height: 100%;
}
.navbar-nav{
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row !important;
}
@media screen and (max-width: 992px) {
    .navbar-nav{
        display: none !important;
    }
    
}
.nav_link, .drop-link{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    transition: all .3s ease;
}
.nav_link::after,.drop-link::after{
    content: '';
    background-color: var(--hover-color);
    height: 2px;
    width: 0;
    position: absolute;
    top: 120%;
    left: 0;
    transition: all .4s ease;
}
.nav-item:hover .nav_link{
    color: var(--hover-color);
}
.nav-item:hover .nav_link::after{
    width: 100%;
}
.nav-item{
    height: 60px;
    padding-top: 18px;
}
/* drop */
.drop-li{
    display: none;
    width: 250px;
    border-radius: 8px;
    position: absolute;
    top: 68px;
    padding: 2rem;
    list-style: none;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    animation-name: dropanimation;
    animation-duration: .5s;
    transition: all .5s ease;
} 
@keyframes dropanimation {
    0% {opacity: 0; transform: translateX(50px);}
    100% {opacity: 1; transform: translateX(0);}
}
.drop-li-link{
    margin-bottom: 1rem;
}
.drop-li-link:hover .drop-link::after{
    width: 100%;
}
.drop-li-link:hover .drop-link{
    color: var(--hover-color);
}
@media (min-width: 992px) {
    .nav-item:hover .drop-li{
        display: block;
    }
}
.nav-button{
    background-color: #ECF2F6;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-right: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
    position: relative;
}
.new-nav-btn{
    background-color: rgb(70, 66, 66);
}
.new-nav-btn div{
    background-color: rgb(255, 255, 255);
}
.btn-span{
    background-color: rgb(0, 0, 0);
    height: 2px;
    border-radius: 2px;
    transition: all .3s ease;
}
.btn-span1{width: 25px;}
.btn-span2{width: 25px; margin: 5px 0; height: 4px !important;}
.btn-span3{width: 10px;}
.nav-button:hover .btn-span3{width: 25px;}
.nav-button:hover .btn-span1{width: 10px;}
@media screen and (max-width: 700px) {
    .navbar-brandx{width: 100px !important;}
    .nav-logo{width: 90px;}
    .nav-button{
        background-color: #ECF2F6;
        height: 40px;
        width: 40px;
        padding-right: 12px;
    }
    .new-nav-btn{
        background-color: rgb(70, 66, 66);
    }
    .new-nav-btn div{
        background-color: rgb(255, 255, 255);
    }
    .btn-span{
        background-color: rgb(0, 0, 0);
        height: 2px;
        transition: all .3s ease;
    }
    .btn-span1{width: 16px;}
    .btn-span2{width: 16px; margin: 3px 0; height: 3px !important;}
    .btn-span3{width: 8px;}
    .nav-button:hover .btn-span3{width: 16px;}
    .nav-button:hover .btn-span1{width: 8px;}
}
/* drop media for 992px */
@media screen and (max-width: 992px) {
    .i-animation{
        float: right;
        margin-right: 3rem;
    } 
    /* .nav-item:hover .drop-li{
        display: none !important;
    } */
}
/* ------ animation for icons----- */
.i-animation{
    transition: all .4s ease;
}
.nav-item:hover .i-animation{
    transform: rotate(180deg);
}
/* -------------- hero section --------- */
.hero-section{
    height: 80vh;
}
.hero-contein{
    padding: 20vh 0;
}
.hero-h1{
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;
    font-family: var(--heding-font);
}
.hero-p{
    font-size: 20px;
    font-family: var(--contein-font);
}
.mybtn{
    font-weight: 600;
    line-height: 1.5;
    color: #ffffff;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: var(--main-color);
    border: 1px solid transparent;
    padding: 25px 40px;
    font-size: 1rem;
    border-radius: 15px;
    transition: all .5s ease-in-out;
    z-index: 1;
    overflow: hidden;
}
.mybtn::after{
    content: ' ';
    background-color: var(--hover-color);
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all .5s ease;
    z-index: -1;
}
@media screen and (max-width: 992px) {
    .hero-h1{font-size: 48px; line-height: 48px;}
    .hero-p{font-size: 18px;}
    .mybtn{padding: 20px 25px; font-size: .75rem; border-radius: 10px;}
}
@media screen and (max-width: 500px) {
    .hero-h1{font-size: 46px; line-height: 32px;}
    .hero-p{font-size: 16px;}
    .mybtn{padding: 15px 20px; font-size: .75rem; border-radius: 10px;}
}
.btn-hover:hover .mybtn::after{
    transform: translate(-50%, -50%) scale(1);
}
.hero-img{
    animation-name: heroimag;
    animation-duration: 1s;
}
@keyframes heroimag {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}
/* ------ we can do for ---- */
.we-can-do{
    background-color: #27272E;
}
/* card */
.cardx {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 2rem;
    height: 280px;
    background-color: #27272E;
    border: none !important;
    transition: all .3s ease;
}
.scrolled.slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}
  
@-webkit-keyframes slideUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
}
.cardx:hover {
    background-color: #3e3e46f1 !important;
}
@media only screen and (max-width: 576px) {
    .cardx {
        height: 250px !important;
    }
}
@media only screen and (max-width: 768px) {
    .cardx {
        height: 250px !important;
    }
}
@media only screen and (max-width: 992px) {
    .cardx {
        height: 250px !important;
    }
}
/* @media only screen and (max-width: 576px) {
    
} */
.card-title a{
    text-decoration: none;
    font-size: 24px;
    transition: all .4s ease;
    color: #fff !important;
}
.card-title a:hover{
    color: var(--hover-color) !important;
}
.card-text{
    color: #fff !important;
    font-size: 16px;
}
.card-btn{
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    transition: all .4s ease;
    position: relative;
    z-index: 1;
}
.cardx:hover .card-btn{
    color: #9c6b8c;
}
.line-link-find{
    display: inline-block;
    height: 1.5px;
    transition: all .6s ease;
    width: 0px;
}
.cardx:hover .line-link-find{
    width: 35px;
    background-color: #9c6b8c;
    margin-right: 10px;
}
@media only screen and (max-width: 520px) {
    .card-title a{
        font-size: 20px;
    }
    .card-text{
        font-size: 14px;
    }
}
/* -------------- carousel ------------------ */
.carousel-icons{
    color: #868380;
    font-size: 40px;
    margin-left: 30px;
}
.carousel-caption {
    position: static !important;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}
.carousel-indicators {
    position: static !important;
    display: flex;
    justify-content: flex-start !important;
    padding: 0;
    margin-right: 15%;
    margin-top: 1rem !important;
    margin-left: 0px !important;
    list-style: none;
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% !important;
    margin-right: 12px !important;
    margin-left: 12px !important;
    text-indent: none !important;
    cursor: pointer;
    background-color: var(--hover-color) !important;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .8;
    transition: opacity .6s ease;
}
.active {
    background-color: #fff;
}
.carousel-h2{
    color: #D48290;
    font-size: 22px;
}
.carousel-h1{
    font-size: 48px;
}
.carousel-p{
    font-size: 18px;
}
.card-h1per{
    font-size: 72px;
    color: #D48290;
}
@media only screen and (max-width: 700px) {
    .carousel-h2{font-size: 16px;}
    .carousel-h1{font-size: 34px;}
    .carousel-p{font-size: 14px;}
    .card-h1per{font-size: 54px;}
    .per-p{font-size: 14px;}
}
.color-chang{
    transition: all .4s ease;
}
.color-chang:hover{
    color: #FF7043;
}
.cor-btn1{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
    border: none;
    margin-right: 1rem;
}
.cor-btn1:hover{
    background-color: var(--hover-color);
}
.cor-btn2 {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
    border: none;
    margin-right: 1rem;
}
.cor-btn2:hover{
    background-color: var(--hover-color);
}
.cor-btn3{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
    border: none;
}
.cor-btn3:hover{
    background-color: var(--hover-color);
}
/* from-section */
.from-section{
    background-color: #ECF2F6;
}
.about-form{
    border-radius: 30px;
}
.form-control {
    border-radius: 15px !important;
}
.form-label{
    font-weight: 500 !important;
}
.from-btn{
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px;
    border: 1px solid #918a8a;
    background-color: rgb(255, 255, 255);
    transition: all .3s ease;
}
.from-btn:hover{
    background-color: #5158be;
    color: rgb(255, 251, 251);
    border-color: #5158be;
}
.form-h2{font-size: 36px;}
@media only screen and (max-width: 576px) {
    .form-h2{font-size: 18px;}    
} 
/* ------ Project section ------ */
.Project-list{
    padding: 0 !important;
    list-style: none;
    display: flex;
}
.Project-list li {
    margin-right: 100px;
}
.Project-list p{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 500;
}
.Project-list p:hover{
    cursor: pointer;
}
.Project-link{
    position: relative;
} 
.Project-link::after{
    content: " ";
    background-color: var(--hover-color);
    height: 3px;
    width: 100%;
    position: absolute;
    top: 110%;
    left: 0;
}
.main-card{
    overflow: hidden;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.card-img{
    transition: all .5s ease;
}
.card-img:hover{
    transform: scale(1.15);
}
.bottom-btn-line {
    position: relative;
}
.bottom-btn-line::after{
    content: " ";
    background-color: #1115fd;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 103%;
    left: 0;
}
       /* project animation */
.branding.brabd_block{
    display: none;
}
.development.dev_none{
    display: none;
}
@media only screen and (max-width: 800px) {
    .Project-list li {
        margin-right: 60px;
    }
    
}
@media only screen and (max-width: 600px) {
    .Project-list li {
        margin-right: 24px !important;
    }
    .Project-list p{
        font-size: 16px;
    }
}
/* Case-study-section */
.Case-study-section{
    background-color: #27272E;
}
.case-study{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 3%;
}
@media only screen and (max-width: 700px) {
    .case-study{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 1%;
    }
}
.study-card{
    border-radius: 20px;
    color: #fff;
    transition: all .3s ease;
}
.study-card:hover{
    background-color: #2F2F34;
}
.study-card h1{
    color: #5158be;
}
/* Testimonial-section */
.Testimonial-card{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3%;
}
.card-p2{font-size: 22px;}
@media only screen and (max-width: 800px) {
    .Testimonial-card{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 3%;
    }
    .card-p2{font-size: 16px;}
}
.card-imgs1 img {
    width: 125px;
}
.card-imgs img{
    width: 50px;
}
.card-profil img{
    border-radius: 50%;
}
.tes-cars{
    transition: all .5s ease;
    border: 2px solid transparent;
}
.tes-cars:hover{
    border-top: 2px solid #1115fd;
}
/* --------- Clients-section -------- */
.Clients-section{
    background-color: #27272E;
}
.Clients-list{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.brands{
    display: flex;
    align-items: center;
    justify-content: center;
}
.brands img {
    filter: grayscale(70%);
    opacity: .4;
    transition: all .3s ease;
}
.brands img:hover{
    opacity: 1;
    filter: none;
}
@media only screen and (max-width: 1000px) {
    .Clients-list{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}
@media only screen and (max-width: 720px) {
    .Clients-list{
        display: grid;
        grid-template-columns: auto auto;
    }
    .brands img {
        width: 80%;
    }
}
/* ----  stories section  ------ */
/* tow block  */
.myfas{
    margin-left: 20px;
    transition: all .4s ease;
}
.stories-block{
    border-bottom: 1px solid #c4c4c4;
    border-top: 1px solid #c4c4c4;
    transition: all .3s ease;
}
.stories-block:hover{
    border-top: 1px solid #4133ff;
}
.storie-img{
    height: 200px;
    border-radius: 40px;
    overflow: hidden;
    background-image: url(images/blog-3-300x240.png);
    background-size: cover;
    background-position: 50% 50%;
}
.storie-link{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}
.storie-link:hover {
    color: rgb(65, 22, 255);
} 
.storie-link:hover .myfas {
   margin-left: 5px;
}
/* ---------- work-section -------- */
.work-section{
    background: rgb(61,86,227);
    background: linear-gradient(85deg, rgb(0 37 243) 0%, rgb(136 178 233) 100%);
}
.work-btn{
    text-decoration: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
    background-color: #fff;
    font-weight: 600;
    transition: all .4s ease;
    border: none;
    padding: 20px 40px;
    border-radius: 16px;
}
.work-btn:hover{
    background-color: #FFDC60;
    color: rgb(255, 255, 255);
}
/* .work-text h5{
    color: #FFDC60;
}
.work-text h1{
    font-size: 54px;
    color: #fff;
} */
/* ------ footer section ----- */
.icon-list {
    width: 100%;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
}
.icon-item {
    list-style: none;
}
.icon-link {  
    display: inline-flex;
    font-size: 2rem;  
    text-decoration: none;  
    color: #f89524;
    width: 3rem;
    height: 3rem;  
    position: relative;
    z-index: -1;
    transition: .1s linear;
    margin: auto
}
.icon-item:hover .icon-link{
    color: #fff;
}
.icon-link i {
    margin: auto;    
}
.icon-link::before {  
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    background: #f89524;
    border-radius: 50%;
    z-index: -2;
    transform: scale(0);
    transition: 0.4s cubic-bezier(.95, .32, .37, 1.21);
}
.icon-item:hover .icon-link::before {
    transform: scale(1);
}
.input_group{
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.footer-form{
    padding: 20px 30px !important;
    font-size: 18px !important;
    outline: none !important;
    border: none;
}
@media only screen and (max-width: 520px) {
    .footer-form{padding: 10px 15px !important; font-size: 14px !important; width: 110px;}
    .icon-link {font-size: 1.5rem; width: 2rem; height: 2rem;}
    .icon-link::before {width: 2rem; height: 2rem;}
    .icon-list {padding: 0 .25rem; display: flex; justify-content: space-around;}
}
.footer-btn{
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: var(--main-color);
    border: 1px solid transparent;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 15px;
    transition: all .4s ease-in-out;
}
.footer-btn:hover{
    background-color: var(--hover-color);
}
.footer-ul{
    list-style: none;
    padding-left: 0px !important;
}
.footer-ul li{
    margin-bottom: 1rem;
}
.footer-ul a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
}